/******************************
INITIAL
/*******************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0; padding:0; border:0; background:transparent;
}
/******************************
HEADER
/*******************************/
header{
    min-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    background: #ececec;
    z-index: 2;
}
header h1{
    float: left;
    padding: 10px 0 0 10px;
}
header h1 a{
    color: #333;
}
header li{
    border-left: 1px solid #ccc;
}
header li:first-child{
    border: none;
}
header li a{
    display: block;
    padding: 0 10px;
    color: #999;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
header li a:hover,
header li a.active{
    color: #333;
}
nav.toggle{
    float: right;
    padding: 15px 0;
}
input#control-nav{
    visibility: hidden;
    position: absolute;
    left -9999px;
    opacity: 0;
}
.list-menu li{
    float: left;
    display: block;
    position: relative;
}
@media screen and (max-width: 767px){
    header .control-nav{
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid #333;
        border-width: 3px 0;
        z-index: 2;
        cursor: pointer;
    }
    header .control-nav:before{
        content: ""
        display: block;
        height: 3px;
        background: #333;
    }
    header .controle-nav-close{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        background: rgba(0,0,0,0.4);
        -webkit transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    header nav{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        border-left: 1px solid #ccc;
        background-color: #fff;
        overflow-x: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
}
